<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">
                <h2>Add a Birthday</h2>
                <form action="/" method="post">
                    <input autocomplete="off" type="text" name="name" placeholder="Name">
                    <input autocomplete="off" type="text" name="month" placeholder="Month">
                    <input autocomplete="off" type="text" name="day" placeholder="Day">
                    <button type="submit">Add Birthday</button>
                </form>
            </div>
            <div class="section">
                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in birthdays_list %}
                            <tr>
                                <td>{{ person.name }}</td>
                                <td>{{ person.month }}/{{ person.day }}</td>
                                <td><button data-open-modal>Edit</button></td>
                                <td><button value="{{ person.id }}" id="submitButton"><img class="close-icon" src="../static/close-icon.svg" alt="delete birthday"></button></td>
                                <dialog data-modal>
                                    <h2>Edit {{ person.name }}'s birthday details</h2>
                                    <form action="/edit" method="post">
                                        <input autocomplete="off" type="text" name="name" placeholder="{{ person.name }}">
                                        <input autocomplete="off" type="text" name="month" placeholder="{{ person.month }}">
                                        <input autocomplete="off" type="text" name="day" placeholder="{{ person.day }}">
                                        <input type="hidden" name="id" value="{{ person.id }}" />
                                        <button type="submit">Edit Birthday</button>
                                    </form>
                                    <button data-close-modal>Close</button>
                                </dialog>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <script>
    const openModalBtns = document.querySelectorAll("[data-open-modal]")
    const closeModalBtns = document.querySelectorAll("[data-close-modal]")
    const modalElements = document.querySelectorAll("[data-modal]")

    openModalBtns.forEach((item, index) => {
        item.addEventListener("click", () => {
            modalElements[index].showModal()
        })
    })

    closeModalBtns.forEach((item, index) => {
        item.addEventListener("click", () => {
            modalElements[index].close()
        })
    })

    const deleteBtns = document.querySelectorAll("#submitButton")
    deleteBtns.forEach(item => {
        let formData = new FormData() // creates a form object
        formData.append("id", item.value) // appends a field
        item.addEventListener("click", () => {
            let xhr = new XMLHttpRequest()
            xhr.open("POST", "/delete")
            xhr.send(formData)
            xhr.onload = () => {
                console.log(xhr.response)
                window.location.assign("/")
            }  // See https://javascript.info/xmlhttprequest for how to do this (and for why you should use fetch instead!)
        })
    })
    </script>
    </body>
</html>
